@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #666;
}

#flip {
    text-align: center;
    background: #666;
    color: white;
}

.users {
    display: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

td img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.fa-chart-line {
    font-size: 30px;
}

.fa-images {
    font-size: 30px;
    margin-left: 20px;
}

.post {
    display: inline-block;
    position: relative;
    width: 700px;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.9);
    margin-bottom: 20px;
    transition: .5s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    top: -10px;
}

.post:hover {
    top: 0;
    box-shadow: none;
}

.post .info {
    display: flex;
    position: relative;
    margin-left: 20px;
    margin-top: 6px;
    justify-content: flex-start;
}

.post .info img {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post .info a {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    color: rgb(0, 68, 255);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.post img {
    width: 100%;
    max-height: 500px;
    height: auto;
    border-radius: 10px;
}

.comment {
    min-height: 100px;
    width: 100%;
    outline: none;
    padding: 10px 20px;
    border-radius: 15px;
    color: black;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.comment h3 {
    float: left;
}

.comment textarea {
    width: 100%;
    min-height: 70px;
    resize: none;
}

#xxx {
    vertical-align: middle;
    width: 50px;
    border-radius: 50%;
}

.abc{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.abc a {
    color: rgb(73, 73, 73);
    text-decoration: none;
    padding: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 25px;
}


#piechart{
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    max-height: 320px;
}

#myfirstchart{
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    max-height: 250px;
}

.delete {
    background: white;
    padding: 12px;
    border-radius: 10px;
    float: right;
    color: #666;
    text-decoration: none;
    font-size: 25px;
    transition: 0.5s all;
}

.delete:hover {
    font-size: 30px;
    background: #666;
    color: white;
    padding: 10px;
}

.haha{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.haha img{
    margin-right: 20px;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    border-radius: 50%;
}
.haha a{
    color: #666;
    font-size: 30px;
    text-decoration: none;
}